body {
  margin: 0;
  background-color: black;
}

.absolute-position {
  position: absolute;
  top: 100px;
  left: 50px;
}

.custom-restart-button-margin {
  top: 130px;
}

.custom-github-link-margin {
  top: 160px;
}
